{{> header}}

<div align="center">
  <h2>Search Your Pokemon Cards</h2>

  <form method="GET" action="/search">
    <input type="text" name="name" placeholder="try Oricorio" required />
    <button type="submit">Search</button>
  </form>

  {{#if cards.length}}
    <div>
      {{#each cards}}
        <div>
          <img src="{{this.image}}" alt="{{this.name}}" />
          <div>
            <h5>{{this.name}}</h5>
            <form method="POST" action="/api/collection">
              <input type="hidden" name="card_name" value="{{this.name}}" />
              <input type="hidden" name="image" value="{{this.image}}" />
              <label for="date">Date of Collection:</label>
              <input type="date" name="date_of_collection" />
              <button>Add to My Collection</button>
            </form>
          </div>
        </div>
        <br>
      {{/each}}
    </div>
  {{else}}
    <p>No cards found..yet!</p>
  {{/if}}
</div>
